
/* Empty. Add your own CSS if you like */
p.serif {
    font-family: "Times New Roman", Times, serif;
     font-size: 19px
     ;
     color : FireBrick;
     text-align: center;
}

p.warning {

     color : red;
}
.login-background {
    background-image: url('../img/care.png');
    background-size: contain;
    background-position: center;
    width: 100%;
    height: 700px;

}

h1{
  color: #fff;
  height: 50px;
  width: 375px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin:  auto ;
}

.h4{
  height: 50px;
  width: 375px;
  display: flex;
  text-align: center;
  vertical-align:bottom;



}




.button1 {width: 175px;
  height : 60px;
   bottom: -260px;
      background-color:LightSkyBlue ;
}
.button2 {width: 50%;
 bottom: -260px;
   height : 60px;
   background-color:LightSkyBlue ;}

.buttonall{background-color:LightSkyBlue ;

}


.app-icon {
    background-color: #fff;
    background: url('../img/logo.png') center;
    background-size: cover;
    border-radius: 0%;

    height: 125px;
    margin:  15px 125px ;
    width: 125px;

}

.bad  {
      margin:-5px 96px;
      background: red ;
  }

.good {

    background: green;
}
