<ion-modal-view >
  <ion-header-bar>
    <h1 class="title">Register</h1>
    <div class="buttons">
      <button style="color:Red " class="button button-clear" ng-click="closeRegister()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content style="background: url(img/lol1.png) center; background-size: cover;">

    <form name="myForm" ng-controller="registerCtrl">

      <div class="card">
        <div class="item item-text-wrap">
          Register
        </div>
        <div class="item item-divider">

          <label class="item item-input"  ng-class="{ 'has-errors' : myForm.email.$invalid  , 'no-errors' : myForm.email.$valid  }">
            <span class="input-label">Email Address :</span>
            <input type="email" name="email" ng-model="data.username" ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/" required>
          </label>
          <p  class="warning" ng-if="myForm.email.$invalid &&myForm.email.$dirty ">* Please type in a correct email address</p>


          <label class="item item-input"  ng-class="{ 'has-errors' :myForm.Name.$invalid, 'no-errors' : myForm.Name.$valid}">
            <span class="input-label">Name :</span>
            <input name="Name" type="text" ng-model="data.name"  required>
          </label>
          <p class="warning"  ng-if="myForm.Name.$invalid ">* Name is required</p>



          <label class="item item-input" ng-class="{ 'has-errors' :myForm.password.$invalid , 'no-errors' : myForm.password.$valid }">
            <span class="input-label">Password :</span>
            <input type="password" name="password" ng-model="data.password" ng-minlength="6" ng-maxlength="20" required>
          </label>

          <p  class="warning" ng-if="myForm.password.$invalid &&myForm.password.$dirty ">* Please type in a correct password</p>

          <label class="item item-input"  ng-class="{ 'has-errors' :  myForm.phone.$invalid, 'no-errors' : myForm.phone.$valid  }">
            <span class="input-label">Phone :</span>
            <input type="tel" name="phone" ng-model="data.contact" ng-minlength="8" ng-maxlength="8" required>
          </label>

          <p  class="warning" ng-if="myForm.phone.$invalid &&myForm.phone.$dirty ">* Please type in a correct phone number</p>

          <div class="item item-divider">
            <label class="item item-input item-select" ng-class="{ 'has-errors' : myForm.type.$invalid , 'no-errors' : myForm.type.$valid }">
              <span class="input-label">Type:</span>
              <select name="singleSelect" id="singleSelect" ng-model="data.type" ng-options="item.clinic_id as item.clinic_name for item in clinics" required>
      </select>
            </label>

          <p  class="warning" ng-if="myForm.type.$invalid &&myForm.type.$dirty ">* Please choose the correct type</p>

          <button  class="button button-full button-assertive ink" ng-disabled="myForm.Name.$invalid || myForm.password.$invalid||myForm.phone.$invalid|| myForm.email.$invalid|| myForm.type.$invalid"  ng-click="signup()">Register</button>


        </div>
      </div>
  </ion-content>
</ion-modal-view>
