<ion-view view-title="System " name="home-view" class="home-background">
  <ion-content scroll="false" style="background: url(img/lol1.png) center; background-size: cover;">

    <!-- <ion-spinner icon="ripple" class="spinner-assertive"></ion-spinner>
    <ion-spinner icon="ripple"></ion-spinner> -->
    <!-- <h1>{{status}}</h1> -->


    <div class="card">
      <div class="item item-text-wrap">
        Request Service
      </div>
      <div class="item item-divider">
        <label class="item item-input item-select" ng-class="{ 'has-errors' : submitted &&myForm.TimeSelect.$invalid , 'no-errors' : myForm.TimeSelect.$valid }">
          <span class="input-label">Type:</span>
          <select name="singleSelect" id="singleSelect" ng-model="data.clinic_id" ng-options="item.clinic_id as item.clinic_name for item in clinics" required>
          </select>
        </label>

        <div >
          {{reminder}}
          {{result}}
        </div>
        <button class="button button-block buttonall ion-checkmark"  ng-click="scan()"  ng-disabled="!isReadyToScan">Request Service</button>
      </div>
    </div>

    <div class="card">

      <div class="item item-text-wrap">
        Requested Service

      </div>

          <div>
            <ion-list>
              <ion-item>
            {{result}}
            <ion-option-button class="class1">
              Edit
            </ion-option-button>
            <ion-option-button class="class2">
              Delete
            </ion-option-button>
          </ion-item>
        </ion-list>
          </div>

    </div>



  </ion-content>
</ion-view>
